<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="RedRocket.Persistence.Common" version="1.0.1.17" targetFramework="net45" />
  <package id="RedRocket.Utilities.Core" version="1.0.0.35" targetFramework="net45" />
</packages>